## A step-by-step guide to Introduction to Stats in Python

Follow along with [this article](https://www.learndatasci.com/tutorials/data-science-statistics-using-python/). Fork and clone this repository to your computer and open with Juypter Notebooks. <br>

#### We suggest that instead of copy and pasting the code, you type it out.  This will help you become more familiar with the syntex and better understand it.

Meet Sally, a public school administrator. Some schools in her state of Tennessee are performing below average academically. Her superintendent, under pressure from frustrated parents and voters, approached Sally with the task of understanding why these schools are under-performing. Not an easy problem, to be sure.

To improve school performance, Sally needs to learn more about these schools and their students, just as a business needs to understand its own strengths and weaknesses and its customers.

Though Sally is eager to build an impressive explanatory model, she knows the importance of conducting preliminary research to prevent possible pitfalls or blind spots (e.g. cognitive bias'). Thus, she engages in a thorough exploratory analysis, which includes: a lit review, data collection, descriptive and inferential statistics, and data visualization.

First Sally imports the libries she will use with alias and sets her plot style and font size and creates a data frame with her data.

In [2]:
# Import libries need with alias
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# Set style and font size

sns.set_style('darkgrid')
sns.set(font_scale=1.5)
# Read in TN middle school dataset(hint it should be in the same folder as this noteboke)
df=pd.read_csv('middle_tn_schools.csv')
df

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,Allendale Elementary School,5.0,851.0,10.0,90.2,95.8,15.7,Public,89.4,85.2,54.0,2.9,85.5,1.6,5.6
1,Anderson Elementary,2.0,412.0,71.0,32.8,37.3,12.8,Public,43.0,38.3,32.0,3.9,86.7,1.0,4.9
2,Avoca Elementary,4.0,482.0,43.0,78.4,83.6,16.6,Public,75.7,73.0,29.0,1.0,91.5,1.2,4.4
3,Bailey Middle,0.0,394.0,91.0,1.6,1.0,13.1,Public Magnet,2.1,4.4,30.0,80.7,11.7,2.3,4.3
4,Barfield Elementary,4.0,948.0,26.0,85.3,89.2,14.8,Public,81.3,79.6,64.0,11.8,71.2,7.1,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Winfree Bryant Middle School,3.0,611.0,57.0,59.1,65.2,16.9,Public,61.4,57.7,36.0,15.2,66.3,1.5,15.7
343,Winstead Elementary School,5.0,515.0,8.0,93.9,97.0,14.3,Public,92.0,89.3,36.0,3.3,87.4,3.1,4.1
344,Woodland Elementary,4.0,424.0,55.0,84.8,76.7,14.1,Public,69.4,79.4,30.0,11.6,70.5,2.1,9.7
345,Woodland Middle School,5.0,866.0,2.0,93.3,97.1,19.2,Public,89.8,84.9,45.0,4.5,77.6,10.0,4.4
346,Wright Middle,0.0,829.0,89.0,4.5,1.2,16.5,Public,2.7,9.6,50.0,22.3,21.0,6.6,49.5

To begin learning about the sample, Sally uses pandas' describe method. The column headers in bold text represent the variables Sally will be exploring. Each row header represents a descriptive statistic about the corresponding column.

In [ ]:
# Run decriptive analysis

Sally isolates reduced_lunch and groups the data by school_rating using pandas' groupbymethod and then uses describe on the re-shaped data.

In [ ]:
# Use group by method, first by reduced_lunch and then by school_rating
# Use describe on the reshaped data

Sally decides to look at reduced_lunch from another angle using a correlation matrix with pandas' corr method. The values in the correlation matrix table will be between -1 and 1.

In [ ]:
# Create a correlation matrix table with these variables: reduced_lunch and school_rating

Sally learns a box-and-whisker plot is helpful for visualizing the distribution of the data from the mean. She graphs reduced_lunch to see the distributions.

In [ ]:
# Create boxplot with two variables: reduced_lunch and school_rating

To further examine the relationship between school_rating and reduced_lunch, Sally graphs the two variables on a scatter plot.

In [ ]:
# Create scatter plot with two variables reduced_lunch and school_rating

Sally is ready to test her hypothesis: a negative relationship exists between school_rating and reduced_lunch. If the test fails, she'll need to re-visit her dataset to choose other variables that possibly explain school_rating. Either way, Sally could benefit from an efficient way of assessing relationships among her variables.

An efficient graph for assessing relationships is the correlation matrix; Red cells indicate positive correlation; blue cells indicate negative correlation; white cells indicate no correlation. The darker the colors, the stronger the correlation (positive or negative) between those two variables.

In [ ]:
# Create tabular correlation matrix

# Graph correlation matrix

### Things to think about
What are your thoughts on Sally's hypothesis: a negative relationship exists between school_rating and reduced_lunch?

    Click here to add your thoughts.

Looking at the above correlation matrix are there any other relationships you would like to explore? 


    Click here to add your thoughts and feel free to add additional code blocks to test you ideas.